<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SmallSize</key>
	<dict>
		<key>imageName</key>
		<string>FP-iTunes_Loop.pdf</string>
		<key>imageParts</key>
		<dict>
			<key>InteriorMask</key>
			<string>{600, 0}, {100, 100}}</string>
			<key>OffState</key>
			<string>{0, 0}, {100, 100}}</string>
			<key>OffStateHi</key>
			<string>{100, 0}, {100, 100}}</string>
			<key>OnState</key>
			<string>{200, 0}, {100, 100}}</string>
			<key>OnStateHi</key>
			<string>{300, 0}, {100, 100}}</string>
		</dict>
		<key>imageType</key>
		<string>2</string>
	</dict>
</dict>
</plist>
