<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LargeSize</key>
	<dict>
		<key>imageName</key>
		<string>FP-PlayButton_Strip.pdf</string>
		<key>imageParts</key>
		<dict>
			<key>InteriorMask</key>
			<string>{{68, 0}, {17, 15}}</string>
			<key>OnState</key>
			<string>{{34, 0}, {17, 15}}</string>
			<key>OnStateHi</key>
			<string>{{51, 0}, {17, 15}}</string>
			<key>OffState</key>
			<string>{{0, 0}, {17, 15}}</string>
			<key>OffStateHi</key>
			<string>{{17, 0}, {17, 15}}</string>
		</dict>
		<key>imageType</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
