<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>available_1040</key>
	<dict>
		<key>QCAnchorPosition</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCAppleRemote</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCColorMixer</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCDifferentialValue</key>
		<dict>
			<key>integrator</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>derivator</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCPatchRenderer</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCDemultiplexer</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCHIDInput</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCImageHistogram</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCImageOrigin</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCImagePixel</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCImageResize</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCGrep</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCGLSLShader</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCLine</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCExpression</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCMidiControls</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCNetworkBroadcaster</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCNetworkReceiver</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCNetworkSynchronizer</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCNoise</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCNumberFormatter</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCOSCBroadcaster</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCOSCReceiver</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCPatchInfo</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCPulse</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCQueue</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCSampleHold</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCSmooth</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCStringMD5</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCStringRange</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCStringReplace</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCTimeLine</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCWatcher</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCXMLDownloader</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCImageFilter</key>
		<dict>
			<key>CIAreaAverage</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIAreaHistogram</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIAreaMaximum</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIAreaMaximumAlpha</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIAreaMinimum</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIAreaMinimumAlpha</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIBarsSwipeTransition</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIBoxBlur</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIBumpDistortionLinear</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIColumnAverage</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIComicEffect</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIDiscBlur</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIEightfoldReflectedTile</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIFourfoldReflectedTile</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIFourfoldRotatedTile</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIFourfoldTranslatedTile</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIGlideReflectedTile</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIHexagonalPixellate</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CILineOverlay</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIMaximumComponent</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIMinimumComponent</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIRowAverage</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CISixfoldReflectedTile</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CISixfoldRotatedTile</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CISpotColor</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CITwelvefoldReflectedTile</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIAffineTransform</key>
			<dict>
				<key>removed-settings</key>
				<string>Texture Format and Texture Parameters no longer available</string>
				<key>changed-UI</key>
				<string>The name has changed from Affine Transform to Image Transform</string>
				<key>changed-behavior</key>
				<string>Transforms are now handled internally for better performance</string>
			</dict>
			<key>CICrop</key>
			<dict>
				<key>changed-behavior</key>
				<string>Cropping is now handled internally for better performance</string>
			</dict>
		</dict>
		<key>QCAudioInput</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-ports</key>
				<string>Fall Speed</string>
				<key>added-settings</key>
				<string>Specific Source Listening</string>
			</dict>
		</dict>
		<key>QCBillboard</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>removed-settings</key>
				<string>Direct Core Image rendering is always on now</string>
				<key>added-settings</key>
				<string>Size calculation mode, Force Pixel Alignment</string>
			</dict>
		</dict>
		<key>QCImageAccumulator</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>removed-settings</key>
				<string>Image Dimensions, Texture format and Texture Parameters</string>
				<key>added-ports</key>
				<string>Image Dimensions (X, Y)</string>
			</dict>
		</dict>
		<key>QCImageKernel</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>backwards-incompatible</key>
				<string>New Image Kernels are written in a format incompatible with Tiger versions of Quartz Composer</string>
			</dict>
		</dict>
		<key>QCDirectoryScanner</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-UI</key>
				<string>Was named Folder Images</string>
				<key>added-settings</key>
				<string>Now scans folders for images, movies, or compositions</string>
			</dict>
		</dict>
		<key>QCGradient</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-ports</key>
				<string>New inputs for extra colors and positions</string>
				<key>added-settings</key>
				<string>Arbitrary number of control points</string>
			</dict>
		</dict>
		<key>QCImageDownloader</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-ports</key>
				<string>Update Signal input, Progress output</string>
				<key>added-settings</key>
				<string>Synchronous Download</string>
				<key>removed-settings</key>
				<string>Texture format and Texture Parameters</string>
			</dict>
		</dict>
		<key>QCImageLoader</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-settings</key>
				<string>Disable Color Correction</string>
				<key>removed-settings</key>
				<string>Texture format and Texture Parameters</string>
			</dict>
		</dict>
		<key>QCImageTexturingProperties</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-settings</key>
				<string>Target and Mipmapping options</string>
				<key>changed-UI</key>
				<string>Was named Image Texturing Matrix</string>
			</dict>
		</dict>
		<key>QCQuickTimePlayer</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-UI</key>
				<string>Was named Image With Movie</string>
				<key>added-ports</key>
				<string>Movie Position</string>
				<key>added-settings</key>
				<string>Asynchronous Mode, Frame Dimensions, Deinterlace, Disable Color Correction</string>
			</dict>
		</dict>
		<key>QCTextImage</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>removed-settings</key>
				<string>Texture format and Texture Parameters</string>
				<key>changed-behavior</key>
				<string>Better performance for large strings</string>
			</dict>
		</dict>
		<key>QCHostInfo</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-ports</key>
				<string>Machine Name output, CPU load as a structure</string>
			</dict>
		</dict>
		<key>QCJavaScript</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>backwards-incompatible</key>
				<string>New &quot;main&quot; signature. Modified versions of the old style will remain compatible</string>
			</dict>
		</dict>
		<key>QCLighting</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-settings</key>
				<string>New &quot;Compute Specular Color Separately&quot; setting for transparency inside the patch</string>
			</dict>
		</dict>
		<key>QCMath</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-UI</key>
				<string>Number of Inputs UI changed</string>
			</dict>
		</dict>
		<key>QCMidiClock</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-settings</key>
				<string>All sources mode</string>
			</dict>
		</dict>
		<key>QCMidiControllers</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-settings</key>
				<string>All sources mode</string>
				<key>changed-UI</key>
				<string>Listen button</string>
			</dict>
		</dict>
		<key>QCMidiNotes</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-settings</key>
				<string>All sources mode</string>
				<key>changed-UI</key>
				<string>Middle C setting</string>
			</dict>
		</dict>
		<key>QCMouse</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-settings</key>
				<string>Integrate Scrolling</string>
				<key>added-ports</key>
				<string>X, Y, Z outputs and Reset input for Scroll wheel</string>
			</dict>
		</dict>
		<key>QCMultiplexer</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-UI</key>
				<string>Number of Inputs UI changed</string>
			</dict>
		</dict>
		<key>QCParticleSystem</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-ports</key>
				<string>Number of Particles input Target colors and Interpolation modes added when setting &quot;Interpolate Size and Color&quot; is on</string>
				<key>removed-ports</key>
				<string>Delta ports removed when setting &quot;Interpolate Size and Color&quot; is on</string>
				<key>added-settings</key>
				<string>Interpolate Size and Color</string>
			</dict>
		</dict>
		<key>QCPsychedelic</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-settings</key>
				<string>Clear depth buffer</string>
			</dict>
		</dict>
		<key>QCRSSDownloader</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-ports</key>
				<string>Update Signal input, Progress output</string>
				<key>added-settings</key>
				<string>Preserve HTML, Preserve Extensions, Synchronous download</string>
				<key>changed-UI</key>
				<string>Name changed from RSS Feed</string>
			</dict>
		</dict>
		<key>QCRandom</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-behavior</key>
				<string>Tiger Random may not behave correctly in an iterator when &quot;Use Perlin Noise&quot; is selected</string>
				<key>added-settings</key>
				<string>Use Perlin Noise</string>
			</dict>
		</dict>
		<key>QCRenderInImage</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-ports</key>
				<string>Texture Target, Mip-mapping, Image Dimensions</string>
				<key>added-settings</key>
				<string>Depth Buffer clearing, Feedback rendering,	Color Correction</string>
			</dict>
		</dict>
		<key>QCQuadric</key>
		<dict>
			<key>sphere</key>
			<dict>
				<key>changed-UI</key>
				<string>Scale input is now Diameter</string>
			</dict>
			<key>cylinder</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>disk</key>
			<dict>
				<key>deprecated-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCSplitter</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-UI</key>
				<string>Index splitters can now have labled indicies</string>
			</dict>
		</dict>
		<key>QCSprite</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-settings</key>
				<string>Resolution setting</string>
			</dict>
		</dict>
		<key>QCClock</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-behavior</key>
				<string>Start modes have been redesigned to be more intuitive</string>
			</dict>
		</dict>
		<key>QCTrackBall</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-settings</key>
				<string>Track Mouse</string>
			</dict>
		</dict>
		<key>QCVideoInput</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-ports</key>
				<string>Capture input</string>
				<key>added-settings</key>
				<string>Video Device selector, Clean Aperature, Disable Color Correction</string>
				<key>removed-settings</key>
				<string>Image Dimensions, Texture Format and Texture Parameters</string>
			</dict>
		</dict>
		<key>QCPlasmaImage</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>deprecated-patch</key>
				<string>This patch will not be present in future versions of Quartz Composer</string>
			</dict>
		</dict>
		<key>QCSpotlight</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>deprecated-patch</key>
				<string>Use Directory Scanner instead</string>
			</dict>
		</dict>
	</dict>
	<key>available_1050</key>
	<dict>
		<key>ImageDifferPatch</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
				<key>third-party</key>
				<string>This patch is provided by Podcast Producer and is not supported.</string>
			</dict>
		</dict>
		<key>QCCamera</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-ports</key>
				<string>Scale</string>
			</dict>
		</dict>
		<key>QCCore3DLoader</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCImageFilter</key>
		<dict>
			<key>CIFastBoxBlur</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
			<key>CIFastDiscBlur</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCIterator</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-behavior</key>
				<string>No longer a consumer</string>
			</dict>
		</dict>
		<key>QCLighting</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-ports</key>
				<string>Added ports for shadows</string>
			</dict>
		</dict>
		<key>QCLine</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-ports</key>
				<string>Thickness input for lines</string>
			</dict>
		</dict>
		<key>QCMeshCreator</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCMeshPropertyGetter</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCMeshPropertySetter</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCMeshMaterialGetter</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCMeshMaterialSetter</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCMeshRenderer</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCMouseInteraction</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCOpenAL</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCOpenCL</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCOpenCLInfo</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCOSCReceiver</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-behavior</key>
				<string>Bundles are no longer coallesced into structures</string>
			</dict>
		</dict>
		<key>QCPhysics</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCPhysicsEffect</key>
		<dict>
			<key>force</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCRecursor</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string></string>
			</dict>
		</dict>
		<key>QCTextImage</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-settings</key>
				<string>New justification settings</string>
			</dict>
		</dict>
		<key>QCPulse</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-behavior</key>
				<string>Now works in an iterator</string>
			</dict>
		</dict>
		<key>QCQuickTimePlayer</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-ports</key>
				<string>New asynchronous ports added</string>
			</dict>
		</dict>
		<key>QCSampleHold</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-behavior</key>
				<string>Now works in an iterator</string>
			</dict>
		</dict>
		<key>QCSmooth</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-behavior</key>
				<string>Now works in an iterator</string>
			</dict>
		</dict>
		<key>QCCounter</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-behavior</key>
				<string>Now works in an iterator</string>
			</dict>
		</dict>
		<key>QCSprite</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-ports</key>
				<string>Interaction</string>
				<key>changed-behavior</key>
				<string>Can now be placed manually using the &quot;Move Mode&quot; button</string>
			</dict>
		</dict>
		<key>QCBillboard</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-ports</key>
				<string>Interaction</string>
				<key>changed-behavior</key>
				<string>Can now be placed manually using the &quot;Move Mode&quot; button</string>
			</dict>
		</dict>
	</dict>
	<key>available_1060</key>
	<dict>
		<key>QCAppleRemote</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-behavior</key>
				<string>Added support for new Apple Remote</string>
			</dict>
		</dict>
		<key>QCBillboard</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-behavior</key>
				<string>Pixel Aligned port now accepts [0-1] ranged values so moving images don&apos;t snap into place. Defaults to &quot;Over&quot; blend mode.</string>
			</dict>
		</dict>
		<key>QCCore3DLoader</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-UI</key>
				<string>Preview of model in settings</string>
			</dict>
		</dict>
		<key>QCDemultiplexer</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-UI</key>
				<string>No longer breaks connections when changing type</string>
			</dict>
		</dict>
		<key>QCDetector</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>new-patch</key>
				<string>Based on CIDetector</string>
			</dict>
		</dict>
		<key>QCGrid</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-behavior</key>
				<string>Defaults to &quot;Over&quot; blend mode</string>
			</dict>
		</dict>
		<key>QCImageKernel</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-behavior</key>
				<string>Now supports &quot;Log()&quot; in JS kernels</string>
			</dict>
		</dict>
		<key>QCImageLoader</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-UI</key>
				<string>Reload button</string>
			</dict>
		</dict>
		<key>QCLFO</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-UI</key>
				<string>Now called &quot;Wave Generator (LFO)&quot;</string>
			</dict>
		</dict>
		<key>QCMathExpression</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>added-settings</key>
				<string>New expressions &quot;round()&quot; and &quot;fmod()&quot;</string>
			</dict>
		</dict>
		<key>QCMouseInteraction</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>removed-settings</key>
				<string>Feedback setting removed</string>
				<key>added-ports</key>
				<string>Click Count and Mouse Over are new ports</string>
			</dict>
		</dict>
		<key>QCMultiplexer</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-UI</key>
				<string>No longer breaks connections when changing type</string>
			</dict>
		</dict>
		<key>QCOpenCL</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-UI</key>
				<string>Tab view in settings</string>
				<key>changed-behavior</key>
				<string>No longer runs in Safe mode</string>
			</dict>
		</dict>
		<key>QCParticleSystem</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-behavior</key>
				<string>Defaults to &quot;Over&quot; blend mode</string>
			</dict>
		</dict>
		<key>QCSplitter</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-UI</key>
				<string>No longer breaks connections when changing type</string>
			</dict>
		</dict>
		<key>QCSprite</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-behavior</key>
				<string>Defaults to &quot;Over&quot; blend mode</string>
			</dict>
		</dict>
		<key>QCStructureMember</key>
		<dict>
			<key>keyAtIndex</key>
			<dict>
				<key>new-patch</key>
				<string>New way to get key at index</string>
			</dict>
		</dict>
		<key>QCTextString</key>
		<dict>
			<key>keyAtIndex</key>
			<dict>
				<key>changed-behavior</key>
				<string>Width and height reset with null string</string>
			</dict>
		</dict>
		<key>QCWatcher</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>changed-UI</key>
				<string>No longer breaks connections when changing type</string>
			</dict>
		</dict>
	</dict>
	<key>available_1010</key>
	<dict>
		<key>QCOpenCL</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>deprecated-patch</key>
				<string>This patch will not be present in future versions of Quartz Composer</string>
			</dict>
		</dict>
		<key>QCOpenCLInfo</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>deprecated-patch</key>
				<string>This patch will not be present in future versions of Quartz Composer</string>
			</dict>
		</dict>
		<key>QCMeshCreator</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>deprecated-patch</key>
				<string>This patch will not be present in future versions of Quartz Composer</string>
			</dict>
		</dict>
		<key>QCMeshPropertyGetter</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>deprecated-patch</key>
				<string>This patch will not be present in future versions of Quartz Composer</string>
			</dict>
		</dict>
		<key>QCMeshPropertySetter</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>deprecated-patch</key>
				<string>This patch will not be present in future versions of Quartz Composer</string>
			</dict>
		</dict>
		<key>QCMeshMaterialGetter</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>deprecated-patch</key>
				<string>This patch will not be present in future versions of Quartz Composer</string>
			</dict>
		</dict>
		<key>QCMeshMaterialSetter</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>deprecated-patch</key>
				<string>This patch will not be present in future versions of Quartz Composer</string>
			</dict>
		</dict>
		<key>QCMeshRenderer</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>deprecated-patch</key>
				<string>This patch will not be present in future versions of Quartz Composer</string>
			</dict>
		</dict>
	</dict>
	<key>available_10140</key>
	<dict>
		<key>QCQuickTimePlayer</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>deprecated-patch</key>
				<string>This patch will not be present in future versions of Quartz Composer</string>
			</dict>
		</dict>
		<key>QCVideoInput</key>
		<dict>
			<key>nil</key>
			<dict>
				<key>deprecated-patch</key>
				<string>This patch will not be present in future versions of Quartz Composer</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
