<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>System</string>
		<key>domain</key>
		<string>NSGlobalDomain</string>
		<key>defaults</key>
		<dict>
			<key>GFLogWarnings</key>
			<false/>
			<key>GFLogErrors</key>
			<false/>
			<key>GFDebuggingLevel</key>
			<integer>0</integer>
			<key>GFLogWindow</key>
			<false/>
			<key>QCPrivateIBPalette</key>
			<false/>
			<key>QCShowPrivatePatches</key>
			<false/>
			<key>QCShowExtensiveTooltips</key>
			<false/>
			<key>QCShowPrivatePatchSettings</key>
			<false/>
			<key>QCPerformanceWindows</key>
			<false/>
			<key>QCDisableCaching</key>
			<false/>
			<key>QCEditCompositions</key>
			<false/>
			<key>QCMaximumCacheRAM</key>
			<real>0.0</real>
			<key>QCMaximumCacheVRAM</key>
			<integer>0</integer>
			<key>QCDisableFBO</key>
			<false/>
			<key>QCDisableCLAttachment</key>
			<false/>
			<key>QCDisableCLGPUDevice</key>
			<false/>
			<key>QCDisableCLCaching</key>
			<false/>
			<key>QCDisableCLOpenGLSharing</key>
			<false/>
			<key>QCDisableCLAsynchronousExecution</key>
			<false/>
			<key>QCEnableCLProfiling</key>
			<false/>
			<key>QCCLProfilingIterationCount</key>
			<integer>0</integer>
			<key>QCAsynchronousQCView</key>
			<false/>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Editor</string>
		<key>domain</key>
		<string>com.apple.QuartzComposer.editor</string>
		<key>defaults</key>
		<dict>
			<key>disableSavelessDocuments</key>
			<false/>
			<key>bypassConfigurationCheck</key>
			<false/>
			<key>editPrivateMetadata</key>
			<false/>
			<key>enableXMLCompositions</key>
			<false/>
			<key>reportPrivatePatches</key>
			<false/>
			<key>softwareCoreImage</key>
			<false/>
			<key>uncorrectedCoreImage</key>
			<false/>
			<key>lowResolutionCoreImage</key>
			<false/>
			<key>highResolutionCoreImage</key>
			<false/>
			<key>disableCoreImageFBOs</key>
			<false/>
			<key>softwareOpenGL</key>
			<false/>
			<key>disableVBLSyncing</key>
			<false/>
			<key>multithreadedOpenGL</key>
			<false/>
			<key>multisampling</key>
			<false/>
			<key>undoLevels</key>
			<integer>25</integer>
			<key>maxTextureSize</key>
			<integer>0</integer>
			<key>renderingQuality</key>
			<integer>0</integer>
			<key>disableCaching</key>
			<false/>
			<key>instructionsVisible</key>
			<true/>
			<key>browserVisible</key>
			<true/>
			<key>descriptionVisible</key>
			<true/>
			<key>showPrivateProtocols</key>
			<false/>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>QuickTime Component</string>
		<key>domain</key>
		<string>NSGlobalDomain</string>
		<key>defaults</key>
		<dict>
			<key>QuartzComposerDefaultMovieDuration</key>
			<real>0.0</real>
			<key>QuartzComposerDefaultMovieHeight</key>
			<integer>0</integer>
			<key>QuartzComposerDefaultMovieWidth</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
